<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "GOV.UK Documentation" %></title>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag :screen, media: 'screen' %><!--<![endif]-->
    <!--[if lte IE 8]><%= stylesheet_link_tag 'screen-old-ie', media: 'screen' %><![endif]-->

    <%= stylesheet_link_tag :print, media: 'print' %>
    <%= javascript_include_tag :ie %>
  </head>

  <body>
    <div class="app-pane">
      <div class="app-pane__header">
        <a href="#content" class="skip-link">Skip to main content</a>

        <header class="header header--full-width">
          <div class="header__container">
            <div class="header__brand">
              <a href="/">
                <span class="govuk-logo">
                  <img class="govuk-logo__printable-crown" src="/images/gov.uk_logotype_crown_invert_trans.png" height="32" width="36">
                  GOV.UK
                </span>
                <span class="header__title">
                  Platform as a Service <span class="phase-banner">Beta</span>
                </span>
              </a>
            </div>

            <input class="header__navigation-toggle-checkbox" type="checkbox" id="show-menu" />
            <label class="header__navigation-toggle" for="show-menu">
              Menu
            </label>

            <nav id="navigation" class="header__navigation">
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Get started</a></li>
                <li class="active"><a href="#">Documentation</a></li>
                <li><a href="#">Feedback</a></li>
              </ul>
            </nav>
          </div>
        </header>
      </div>

      <div class="app-pane__body">
        <div class="app-pane__toc">
          <nav class="toc">
            <ul>
              <li>
                <a href="#">Deploying apps</a>
                <ul>
                  <li><a href="#">Deployment overview</a></li>
                  <li><a href="#">Caveats</a></li>
                  <li><a href="#">Excluding files</a></li>
                  <li>
                    <a href="#">Environment variables</a>
                    <ul>
                      <li><a href="#">System-provided environment variables</a></li>
                      <li><a href="#">Further reading</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Orgs, spaces and targets</a></li>
                  <li>
                    <a href="#">Deploying a static site</a>
                    <ul>
                      <li><a href="#">Adding more instances</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Deploying a Ruby on Rails app</a>
                    <ul>
                      <li><a href="#">Web servers</a></li>
                      <li><a href="#">Troubleshooting asset precompilation</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Deploying a Node.js app</a>
                    <ul>
                      <li><a href="#">PostgreSQL setup with Node.js</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Deploying a Django app</a>
                    <ul>
                      <li><a href="#">PostgreSQL setup with Django</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Production checklist</a></li>
                </ul>
              </li>

              <li>
                <a href="#">Deploying backing services</a>
                <ul>
                  <li><a href="#">Services overview</a></li>
                  <li><a href="#">Paid services</a></li>
                  <li><a href="#">Accessing services</a></li>
                  <li><a href="#">Future services</a></li>
                  <li>
                    <a href="#">Using a PostgreSQL service</a>
                    <ul>
                      <li><a href="#">Creating a PostgreSQL service</a></li>
                      <li><a href="#">Accessing PostgreSQL from your app</a></li>
                      <li><a href="#">PostgreSQL service maintenance times</a></li>
                      <li><a href="#">PostgreSQL service backup</a></li>
                      <li><a href="#">High availability details</a></li>
                      <li><a href="#">Read replicas</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#">Managing apps</a>
                <ul>
                  <li>
                    <a href="#">Scaling apps</a>
                    <ul>
                      <li><a href="#">Increasing instances</a></li>
                      <li><a href="#">Increasing memory and disk space</a></li>
                      <li><a href="#">More about scaling</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Quotas</a>
                    <ul>
                      <li><a href="#">Quota allocations</a></li>
                      <li><a href="#">Quota limits</a></li>
                      <li><a href="#">Application quotas</a></li>
                      <li><a href="#">Memory share and compute share</a></li>
                      <li><a href="#">Application quota sizing</a></li>
                    </ul>
                  </li>
                  
                  <li>
                    <a href="#">Logging</a>
                    <ul>
                      <li><a href="#">Current logs</a></li>
                      <li><a href="#">cf events command</a></li>
                      <li><a href="#">Further information</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Redirecting all traffic</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <div class="app-pane__content">
          <div id="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
